apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-portfolio-web
  namespace: devops-portfolio
  labels:
    app: devops-portfolio-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-portfolio-web
  template:
    metadata:
      labels:
        app: devops-portfolio-web
    spec:
      containers:
        - name: web
          image: YOUR_DOCKERHUB_USERNAME/devops-portfolio-web:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: APP_ENV
              value: "kubernetes"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20